.hidden {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

button { 
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* common */
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/*header*/
.header-block {
    background-color: #ffffff;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav-ul, 
.navigaciia-address {
    display: none;
}

.logotyp-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    color: #4d5ae5;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.nav-logo {
    display: block;
    padding: 16px 0;
}

.logotyp-studio {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

           
    .header-nav-ul {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .nav-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .navigaciia-menu-bloke {
        padding: 24px 0;
        display: block;
        text-decoration: none;
        color: #2e2f42;
        font-size: 16px;
        line-height: 1.5;
        background-color: #ffffff;
        font-weight: 500;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu a.menu-block:active {
        color: #404bbf;
        background-color: #404bbf;
    }

    .menu a:hover,
    .menu a:focus,
    .navigaciia-menu-bloke.current {
        color: #404bbf;
    }

    .navigaciia-menu-bloke.current::after {
        content: '';

        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        width: 100%;
        height: 4px;
        
    }
    .navigaciia-address {
        font-style: normal;
        display: block;
    }

    .header-address-ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts {
        
        font-size: 12px;
        line-height: 1.17;
        background-color: #ffffff;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }     
}

@media screen and (min-width: 1158px) {
    .burger-btn {
        display: none;
    }

    .nav-logo {
        padding: 24px 0;
        margin-right: 76px;
    }

    .header-address-ul {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .navigaciia-menu-bloke {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 0.02em;
    }
}

/* mobile-menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2e2f42;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-header-nav-ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-header-nav-item.current {
    position: relative;
}

.mobile-header-nav-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu a.menu-block:active {
    color: #404bbf;
    background-color: #404bbf;
}

.menu a:hover,
.menu a:focus,
.mobile-header-nav-item.current {
    color: #404bbf;
}

.contacts {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
    color: #4d5ae5;
}

.contacts:hover,
.contacts:focus {
    color: #404bbf;
}

.navigaciia-address {
    font-style: normal;
    margin-left: auto;
}


.mobile-social-list {
    display: flex;
    align-items: baseline;
    max-width: 100%;
    margin-top: 48px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
}

.mobile-social-icon-item {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.mobile-social-item {
    width: 40px;
    height: 40px;
}

.mobile-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-icon {
    width: 24px;
    height: 24px;
    fill: #F4F4FD;
}


@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
/* section 1 */
.gaslo {
    max-width: 320px;
    min-height: 432px;
    margin: 0 auto;
    background-image: 
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(/images/people-office-mobile@1x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.title-gaslo {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gaslo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 72px 0;
}

.container-title-gaslo {
    max-width: 216px;
    margin-bottom: 72px;
}

.button-tab {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #ffffff;

    background-color: #4d5ae5;
    cursor: pointer;
    line-height: 1.5;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-tab:hover,
.button-tab:focus {
    color: #e7e9fc;
    background-color: #404bbf;
}


.container-button-tab {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    padding: 16px 32px;
}

@media screen and (min-resolution: 192dpi) {
    .gaslo {
        background-image: 
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(/images/people-office-mobile@2x.jpg);
    }
}
    
@media screen and (min-width: 768px) {
    .gaslo {
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(/images/people-office-table@1x.jpg);
    }

    .gaslo-container {
        padding: 112px 0 36px 0;
        margin-bottom: 36px;
        justify-content: center;
        min-height: 436px;
    }

    .title-gaslo {
        font-size: 56px;
        line-height: 1.07;
    }

    .container-title-gaslo {
        max-width: 496px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-resolution: 192dpi) {
    .gaslo {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(/images/people-office-table@2x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .gaslo {
        max-width: 1158px;
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(/images/people-office.jpg);
    }

    .gaslo-container {
        text-align: center;
        padding-top: 188px;
        margin-bottom: 48px;
        justify-content: center;
        min-height: 600px;
    }

    .title-gaslo {
        font-size: 56px;
        line-height: 1.07;
    }

    .container-title-gaslo {
        max-width: 496px;
        margin-right: auto;
        margin-left: auto;
    }

}

@media screen and (min-resolution: 192dpi) {
    .gaslo {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(/images/people-office-laptop@2x.jpg);
    }
}
/* section 2 */

.section-values {
    max-width: 320px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 96px 16px;
}

.section-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    margin: 0;
    padding: 0;
    list-style: none; 
}

.section-list-element {
    max-width: 100%;
}

.icon-box {
    display: none;
}

.studio-criterion {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.studio-criterion-descrip {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: justify;
}

@media screen and (min-width: 768px) {
    .section-values {
        max-width: 768px;
    }

    .section-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    .section-list-element {
        max-width: 100%;
        width: calc((100% - 24px) / 2);
        padding-bottom: 72px;
    }

    .studio-criterion {
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 1158px) {
    .studio-criterion {
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        font-weight: 500;
        color: #2e2f42;
        margin-bottom: 8px;
        align-self: flex-start;
        text-align: left;
    }

    .studio-criterion-descrip {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        align-self: flex-start;
        text-align: left;
    }

    /* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    } */

    .section-values {
        min-width: 1158px;
        display: flex;
        align-items: center;
    }

    .section-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin: 0;
        padding: 0;
        list-style: none;

    }

    .section-list-element {
        max-width: 264px;
        width: calc((100% - 72px) / 4);
        flex-direction: column;
    }

    .icon-box {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }
}
/* section3 */
.team-comands {

}

.team-name {

}

.team-comands-list {

}

.team-item {

}

.team-card-item {

}

.team-card-name {

}

.team-card-parag {

}

.social-list {
    
}

.social-item {
    
}

.social-link {
    
}

.social-icon {
    
}