body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0; 
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-sizing: border-box;
}

.section {
    padding: 120px 0;
}
/*header*/
.header-block {
    background-color: #ffffff;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 72px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigaciia-menu-bloke.current {
    position: relative;
    
}

.header-address-ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}

.logotyp-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    color: #4d5ae5;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.logotyp-studio {
    color: #2e2f42;
}

.navigaciia-menu-bloke {
    padding: 24px 0;
    display: block; 
    text-decoration: none;
    color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu a.menu-block:active {
    color: #404bbf;
    background-color: #404bbf;
}

.menu a:hover,
.menu a:focus,
.navigaciia-menu-bloke.current {
    color: #404bbf;
}

.navigaciia-menu-bloke.current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
}

.contacts {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
    color: #404bbf;
}

.navigaciia-address {
    font-style: normal;
    margin-left: auto;
}
/*section1*/
.title-gaslo {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    font-weight: 700;
}

.button-tab {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    line-height: 1.5;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-tab:hover,
.button-tab:focus {
    color: #e7e9fc;
    background-color: #404bbf;
}

.gaslo {
    max-width: 1440px; /*1158*/
    margin: 0 auto;
    background-color: #2e2f42;
    padding: 188px 0;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/people-office.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gaslo-container {
    text-align: center;
}

.container-title-gaslo {
    max-width: 496px;
    margin: 0 auto 48px;
}

.container-button-tab {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    border: none;
}
/*section2*/
.studio-criterion {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #2e2f42;
    margin-bottom: 8px;
    align-self: flex-start;
    text-align: left;
}

.studio-criterion-descrip {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    align-self: flex-start;
    text-align: left;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-values {
    display: flex;
    align-items: center;
}

.section-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;   
    
}

.section-list-element {
    max-width: 264px;
    width: calc((100% - 72px) / 4);
    flex-direction: column;
}

.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
/*section3*/
.team-comands {
    background-color: #f4f4fd;
}

.team-name {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-comands-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-card-item {
    padding: 32px 0;
}

.team-card-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-card-parag {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-comands .social-list {
    gap: 24px;
}

.social-link {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
    
}

.team-comands .social-link:hover,
.team-comands .social-link:focus {
    background-color: #404bbf;
}

.social-item {
    display: flex;
    justify-content: center;
    gap: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
}

/*siction4*/
.portfolio-part {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-part-app {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
    margin-bottom: 8px;  
}

.portfolio-part-banking-app {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 8px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    border: 1px solid #E7E9FC;
    border-radius: 0px 0px 4px 4px;
    max-width: 360px;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.portfolio-item:hover .portfolio-hover-text {
    transform: translateY(0%);
}

.portfolio-image-container {
    position: relative;
    overflow: hidden;
}

.portfolio-hover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-element {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/*footer*/
.footer-block-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    color: #4D5AE5;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-block-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #f4f4fd;
    letter-spacing: 0.03em;
}

.footer-block {
    background-color: #2E2F42;
    padding: 100px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.footer-info {
    max-width: 264px;
    margin-right: 120px; 
}

.footer-block-paragraph {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}

.footer-container {
    display: flex;
    align-items: baseline;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 156px;
}

.footer-social-title {
    margin-bottom: 16px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.social-icon-item {
    display: flex;
    gap: 16px;
}

.social-item {
    width: 40px;
    height: 40px;
}
    
.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   

 .footer .social-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.social-link:hover,
.social-link:focus {
    background-color: #31d0aa;
}

.footer-social-icon {
    width: 24px;
    height: 24px;
    fill: #F4F4FD;
}
/* subscribe-div */
.footer-subscribe {
    margin-left: auto;
    margin-right: 159px;
    display: flex;
    flex-direction: column;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-label {
    display: block;
}

.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;   
    color: #FFFFFF;
}

.footer-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.footer-input:focus {
    border-color: #4D5AE5;
}

.button-tab.container-button-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-tab.container-button-tab:hover,
.button-tab.container-button-tab:focus {
    background-color: #404BBF;
}

.button-frame {
    margin-left: 16px;
}

.button-tab svg {
    fill: #FFFFFF;
}

/* modalka */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%) scale(1.5);
}

.modal-button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.modal-button-close:hover,
.modal-button-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.icon-button-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-container {
    margin-bottom: 8px;
}

.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
    margin-bottom: 4px;
}

.icon-and-input {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus+.input-icon {
    fill: #4D5AE5;
}

.form-input:focus {
    border-color: #4D5AE5;
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon:focus {
    border-color: #4d5ae5;
}

.comment-container {
    margin-bottom: 16px
}

.text-imput-container {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-imput-container:focus {
    border-color: #4D5AE5;
}

.accept-container {
    margin-bottom: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.form-accept {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.i-accept {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.visually-hidden:checked+label .i-accept {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.policy-link {
    color: #4D5AE5;
}

.button-privacy-policy {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
}